.App {
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 846px;
}

.navbar {
  height: 80px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.Menu {
  background-color: black;
  position: sticky;
  display: block;
  width: 100%;
  left:0;
  top:0;
}

.Rodape {
  background-color: black;
  margin-top: 10%;
  display: block;
  width: 100%;  
  left:0;
  bottom: 0;
}

.ConteudoHome {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.ConteudoHome h4 {
  color: #1ED760;
  font-size: 18px;
  margin-left: 6%;
}