.App {
  background-image: url(https://www.scdn.co/i/home/lieVariants/bursts.svg);
  background-position-x: 46%;
  background-position-y: 4%;
  background-size: 176%;
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 846px;
}

.navbar {
  height: 80px;
}

.Rodape {
  margin-top: 52%;
  background-color: black;
  padding-top: 80px;
  padding-bottom: 50px;
  display: block;
}